@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  /* width: 100%;
  height: 100%; */
  min-height: 100vh;
  height: max-content;
}

html {
  overflow: auto;
  cursor:default;
}
body {
  overflow: auto;
   touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  /* background: #222222; */
  color: white;
  font-size: 16px; /* width 1512 */
  background: linear-gradient(109.5deg, #000000 29.09%, #3A3A3A 72.28%, #3A3A3A 76.65%, #000000 95%);
  position: relative;
  z-index: -1000;

}


.App {
  /* height: 100%; */
  max-height: max-content;
  min-height: 100vh;
}
/* @media (min-width: 1663px) {
  html {
    font-size: 17.6px;
  }
}
@media (min-width: 1814px) {
  html {
    font-size: 19.2px;
  }
}
@media (min-width: 1965px) {
  html {
    font-size: 20.8px;
  }
}
@media (min-width: 2116px) {
  html {
    font-size: 22.4px;
  }
}
@media (min-width: 2267px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 2418px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 2569px) {
  html {
    font-size: 27.2px;
  }
}

 */


.font-HelveticaNeue {
  transform: translateY(0.1em);
}


.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  border-radius: 100px;
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}
::-webkit-scrollbar-button {
  display: none;
}

.fix-v-center {
  transform: translateY(-10%);
}

.fix-v-center-inflex {
  transform: translateY(-5%);
}


.hoverItem:hover {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1500ms;
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}


.loader {
  width: 100%;
  height: 100%;
  background: #FFFFFF33
}

#chartdiv {
  width: calc(70vh);
  height: 85vh;
  overflow-y: hidden;
}

@media (max-width: 1001px) {
  #chartdiv {
    width: 400px;
    height: 350px;
  }

  input, textarea, select, button {
    font-size: 16px !important;
    user-select: auto;
    -webkit-user-select: auto;
    -webkit-tap-highlight-color: transparent;
  }
}

.input-wrapper{
  background-color: #404040;
}

div[data-slot="input-wrapper"] {
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 2px 0px #FFFFFF1A inset;
  background-color: #444444;

}

button[data-slot="trigger"] {
  background-color: #404040;
  border-radius: 8px;
}



.dropdown-item-custom[data-hover='true'],
.dropdown-item-custom[data-focus='true'] {
  background-color: #FFFFFF1A !important;
}



[data-slot="calendar"] {
  width: 16rem;
}

[data-slot="content"]{
  width: 16rem;

}


.nodeName input:focus {
  box-shadow: none;
  border-color: #1C73FF;
  outline: none;
  content: "";
}

.nodeName input {
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;

}


.rewards-bg{
   background-color: #00E42A14;
   box-shadow: 0px 2px 0px 0px #00E42A99;
}




.falling-stars-container {
  width: 100%;
  /* Removed max-width to fully adapt to parent container */
  margin: 0 auto; /* Center the SVG */
}

/* FallingStars.css */
.star {
  animation: fall linear infinite, blink ease-in-out infinite;
  will-change: transform, opacity;
  animation-duration: var(--animation-duration, 3s);
  animation-delay: var(--animation-delay, 0s);
}

@keyframes fall {
  0% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(161px);
    opacity: 0;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.newTab{
  background: linear-gradient(167.25deg, #616161 -5.37%, #383838 29.21%);


}


.commonTab{
background: linear-gradient(1.66deg, #141414 1.41%, #383838 91.74%);
  box-shadow: 0px 2px 0px 0px #6D6D6D66;


}



.rightTab{
  background: linear-gradient(167.25deg, #616161 -5.37%, #383838 29.21%);
  border-radius: 12px;
  border: 1px solid none;
  box-shadow: 0px 2px 0px 0px #6D6D6D66;
}
.rewards{
  box-shadow: 0px 2px 0px 0px #00E42A59;

}
@media (min-width: 1001px) {

.rewards{
  box-shadow: 0px 2px 0px 0px #00E42A59;

}
}

.rewards-offline{
  box-shadow: 0px 2px 0px 0px #F5A524E5;

}
@media (min-width: 1001px) {

.rewards-offline{
  box-shadow: 0px 2px 0px 0px #F5A524E5;

}
}





.titleBg{
  background-color: #4F4F4F;
  width: 100%;
  border: 1px solid none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 27px;
}

.vi__character--selected{
  outline: 2px solid #00E42A !important;
}